/* Main body properties*/

body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    font-family: Blender, Helvetica Neue, Helvetica, Arial, sans-serif;
    color: rgb(33, 150, 243);
    font-size: 2vh;
}

/* Header */

header {
    width: 100%;
    height: 5vh;
    background-color: rgb(33, 150, 243);
}

.header-item {
    height: 3vh;
    padding: 1vh;
}

#header-logo {
    width: 10vw;
}

#header-logo img {
    height: 100%;
}

#time {
    float: right;
    display: inline-block;
    font-size: 1.3em;
    font-weight: 700;
}

#time span {
    line-height: 100%;
    display: table-cell;
    vertical-align: middle;
}

#time-hour {
    color: rgb(244, 172, 47);
}

#time-sep {
    color: rgb(0, 0, 0);
}
#time-minute {
    color: rgb(98, 108, 115);
}

/* Columns system */

.column {
    position: absolute;
    top: 5vh;
    width: 25%;
}

.full {
    height: 95vh;
}


#map {
    left: 0px;
}

#trains {
    left: 25%;
}

.train {
    width: 100%;
    height: 7.915vh;
    font-size: 2.5vh;
    font-family: Tauri, sans-serif;
}

.train:nth-child(odd) {
    background-color: rgb(208, 208, 208);
}

.train:nth-child(even) {
    background-color: rgb(223, 223, 223);
}

.train-time {
    margin-top: 2.3vh;
    margin-left: 2vh;
    font-size: 3vh;
    display: inline-block;
}

.train-terminus {
    margin-left: 1vh;
    display: inline-block;
}

.train-type {
    float: right;
    margin-top: 2vh;
    margin-right: 2vh;
    height: 4vh;
    display: inline-block;
}

.train-type > img {
    height: 4vh;
}

#meteo {
    left: 50%;
    background-color: rgba(230, 230, 230, 0.7);
}

#meteo-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
}

#meteo-temperature {
    text-align: center;
    font-size: 8vh;
}

#meteo-minmax {
    margin-left: 20%;
    margin-right: 20%;
}

#meteo-min {
    float: left;
}

#meteo-max {
    float: right;
}

#meteo-block {
    position: relative;
    width: 100%;
}

#meteo-windspeed {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
}

#meteo-windicon {
    margin-top: 5vh;
    width: 50%;
    margin-left: 25%;
}

#meteo-windtext {
    margin-top: -2vh;
    margin-left: 25%;
    font-size: 3vh;
}

#meteo-sun {
    position: absolute;
    top: 10vh;
    left: 50%;
    width: 50%;
}

.meteo-suntext {
    text-align: center;
}

#meteo-table {
    position: absolute;
    top: 65vh;
    left: 15%;
    width: 70%;
}

#meteo-table > table {
    width: 100%;
    border-collapse: collapse;
}

.bold {
    font-weight: bold;
}

tr {
    border-bottom: 1px solid #ccc;
}

#twitter {
    left: 75%;
}

#tw-widget ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#tw-widget li {
    width: 25vw;
    height: 20vh;
    position: relative;
    box-shadow: 0px 0px 25px -4px rgba(0, 0, 0, 0.4);
    margin: 0;
}

#tw-widget .user {
    background: #2196F3;
    padding: 1vh;
    position: relative;
    border-bottom: 1px solid #FD6160;
}

#tw-widget .user a span {
    position: absolute;
    display: block;
    top: 0;
    text-align: left;
}

#tw-widget .user a span[data-scribe="element:name"] {
    position: absolute;
    top: 21px;
    left: 55px;
    color: white;
    font-size: 1.5vh;
    font-weight: bold;
    width: 10vw;
}

#tw-widget .user a span[data-scribe="element:screen_name"] {
  position: absolute;
  top: 42px;
  left: 74px;
  font-size: 1.3vh;
  color: white;
}

#tw-widget .tweet {
  margin: 0;
  padding: 20px;
  color: #4D4D4D;
  font-size: 1.5vh;
  font-weight: bold;
}

#tw-widget .tweet a {
  color: #4D4D4D;
  font-weight: bold;
  text-decoration: none;
}

#tw-widget .tweet a[data-scribe="element:url"] {
  color: #00AE8E;
}

#tw-widget .tweet a[data-scribe="element:hashtag"] {
  color: #2196F3;
}

#tw-widget .timePosted {
    font-size: 1vh;
    margin-bottom: 0;
    text-align: right;
}

#tw-widget .timePosted {
  margin: 0 0 10px;
  padding: 0 20px;
  font-size: 12px;
  text-align: right;
}


#tw-widget .timePosted:before {
  font-family: "Fontawesome";
  -webkit-font-smoothing: antialiased;
  content: "ï€—";
  padding-right: 4px;
}

